
<div id="user_datos_personales" >
    <table>
        <tr>
            <td width="200">Nombre:</td>
            <td><div id="session_nombreUsuario"></div></td>
        </tr>
        <tr>
            <td width="120">Correo:</td>
            <td><div id="session_mailUsuario"></div></td>
        </tr>
        <tr>
            <td width="120" class="x-component-default">Otro:</td>
            <td>{perfil}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div id="user_datos_empresariales" >
    <table class="tables">
        <tr>
            <td class="tdEnc">Nombre Empresa:</td>
            <td class="tdBody"><div id="session_nombreEmpresa"></div></td>
        </tr>
        <tr>
            <td class="tdEnc">Cargo:</td>
            <td class="tdBody"><div id="session_usuarioCargo"></div></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>