.icon-cube-gray{
    background:url('library/system/icons/cube-gray.png') 0 no-repeat !important;
}

.icon-exclamation{
    background:url(../icons/error.png) 0 no-repeat !important;
}

.icon-app{
    background:url('../icons/application.png') 0 no-repeat !important;
    z-index:5002;
}

.icon-form{
    background:url(../icons/application_form.png) 0 no-repeat !important;
}

.icon-form-add{
    background:url(../icons/application_form_add.png) 0 no-repeat !important;
}

.icon-form-edit{
    background:url(../icons/application_form_edit.png) 0 no-repeat !important;
}

.icon-edit{
    background:url(../icons/application_form_edit.png) 0 no-repeat !important;
}

.icon-delete{
    background:url(../icons/delete.png) 0 no-repeat !important;
}

.icon-add{
    background:url('../icons/add.png') 0 no-repeat !important;
}

.icon-accept{
    background:url(../icons/accept.png) 0 no-repeat !important;
}

.icon-cancel{
    background:url(../icons/cancel.png) 0 no-repeat !important;
}

.icon-exclamation{
    background:url(../icons/exclamation.png) 0 no-repeat !important;
}

.icon-refresh{
    background:url(../icons/arrow_refresh.png) 0 no-repeat !important;
}

.icon-view, .icon-search, .icon-find{
    background:url(../icons/magnifier.png) 0 no-repeat !important;
}

.icon-note-go{
    background:url(../icons/note_go.png) 0 no-repeat !important;
}

.icon-email{
    background:url(../icons/email.png) 0 no-repeat !important;
}

.icon-email-add{
    background:url(../icons/email_add.png) 0 no-repeat !important;
}

.icon-email-attach{
    background:url(../icons/email_attach.png) 0 no-repeat !important;
}

.icon-email-delete{
    background:url(../icons/email_delete.png) 0 no-repeat !important;
}

.icon-email-edit{
    background:url(../icons/email_edit.png) 0 no-repeat !important;
}

.icon-email-error{
    background:url(../icons/email_error.png) 0 no-repeat !important;
}

.icon-email-open{
    background:url(../icons/email_open.png) 0 no-repeat !important;
}

.icon-chart-bar{
    background:url(../icons/chart_bar.png) 0 no-repeat !important;
}
.arrow-join-all{
    background:url(../icons/arrow_join.png) 0 no-repeat !important;
}

.icon-close-session {
    background:url(../icons/door_out.png) 0 no-repeat !important;
}

.icon-my-user {
    background:url(../icons/user.png) 0 no-repeat !important;
}

.icon-help {
    background:url(../icons/help.png) 0 no-repeat !important;
}

.icon-bullet {
    background:url(../icons/bullet_wrench.png) 0 no-repeat !important;
}
.icon-gmail {
    background:url(../icons/gmail.png) 0 no-repeat !important;
}

.icon-yahoo {
    background:url(../icons/yahoo.png) 0 no-repeat !important;
}

.icon-hotmail {
    background:url(../icons/hotmail.png) 0 no-repeat !important;
}
